<style>
	body, table {
		font-size: 10px;
		font-family: arial, sans-serif;
		padding: 10px;
	}

	body {
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		background: #666666;
		color:white;
	}

	
</style>

<body>
	<img src="http://www.trackvia.com/wp-content/uploads/2015/03/TrackVia_logo_rev_191px.png"/>
	<div>
		<h1>Text Field: {{TextField}}</h1>
	</div>

	<div>
		Numeric Field: {{NumericField}}
	</div>

	<div>
		Drop Down Field: {{DropDownField}}
	</div>

	<div>
		Date Field: {{DateField}}
	</div>
</body>
